# List Comprehension
Aplica uma expressão arbitrária (ao invés de aplicar apenas uma função) a uma sequência de elementos.

Permite desenvolver listas usando una notação diferente. Seria essencialmente uma linha de **_loop for_**, construída dentro de [].

**Exemplo:**

    lst = [x for x in 'sequência']

In [16]:
# Vamos retornar cada caracter em uma sequência de caracteres
lst = [x for x in 'Ciência']

In [17]:
# Check
lst

# Essa função coloca em uma lista cada elemento de uma sequência de elementos separadamente

['C', 'i', 'ê', 'n', 'c', 'i', 'a']

In [18]:
# Verificando se é mesmo uma lista
type(lst)

list

In [19]:
# Multiplicando os valores que estão em um range de números
lst = [x**2 for x in range(0, 11)]

In [20]:
# Check
lst

# Multiplicou cada número do range ao quadrado

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
# Verificando os números pares em um range de números
# Retorna uma lista onde os valores dentro do range for dividido por 2 e o resto dor zero (némero par)
lst = [x for x in range(11) if x % 2 == 0]

In [22]:
# Check
lst

[0, 2, 4, 6, 8, 10]

In [23]:
# Convertendo Celsius para Fahrenheit
celsius = [0, 10, 20.1, 34.5]

# (float(9)/(5)) * temp + 32) --> Fórmula para calcular a temperatura em Fahrenheit
# Será feito um FOR em cima da lista 'celsius'
fahrenheit = [((float(9)/(5)) * temp + 32) for temp in celsius]

# Check
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [24]:
# Operações aninhadas
lst = [x**2 for x in [x**2 for x in range(11)]]

# Check
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]