# MAP
É uma função que recebe dois argumentos:
- Uma função
- Uma sequêcia

**Exemplo:** *map(função, sequência)*

In [6]:
# Criando as funções

# Essa função irá receber uma temperatura como parâmetro e retorna em Fahrenheit
def fahrenheit(T):
    return ((float(9)/5) * T + 32)

# Essa função irá converter para Celsius
def celsius(T):
    return (float(5)/9 * (T - 32))

In [7]:
# Lista de temperaturas
temp = [15, 30, 50, 5, 32.5]

In [3]:
# Agora colocando na função MAP
# Vai aplicar a função 'fairenheit' a cada valor da lista
map(fahrenheit, temp)   # função + sequência de valores(lista)

# Só retornou números e letras porque o python só retorna o operador
# Para retornar o resultado temos que adicionar em uma lista

In [4]:
# Colocando 'map' em uma lista
list(map(fahrenheit, temp))

[59.0, 86.0, 122.0, 41.0, 90.5]

In [5]:
# Nesse caso podemos imprimir os valores sem precisar 
# colocar em uma lista usando o loop 'for'
for t in map(fahrenheit, temp):
    print(t)

59.0
86.0
122.0
41.0
90.5

In [8]:
# Agora convertendo para Celsius
map(celsius, temp)

In [9]:
list(map(celsius, temp))

[-9.444444444444445, -1.1111111111111112, 10.0, -15.0, 0.2777777777777778]

# Usando LAMBDA

In [11]:
map(lambda x: (5.0/9) * (x - 32), temp)

In [12]:
list(map(lambda x: (5.0/9) * (x -32), temp))

[-9.444444444444445, -1.1111111111111112, 10.0, -15.0, 0.2777777777777778]

In [13]:
# Somando os elementos de cada uma dadas listas
a = [32, 5, 11]
b = [2, 33, 9]

In [15]:
# Mostrando o resultado
list(map(lambda x, y: x+y, a, b))

[34, 38, 20]

In [16]:
# Criando nova lista para somar as três
c = [10, 25, 100]

In [17]:
list(map(lambda x, y, z: x+y+z, a, b, c))

[44, 63, 120]

In [31]:
def hello(myName, age):
    print('Hello', myName, '\nYour age is:', age)

In [32]:
hello('Vitor', 23)

Hello Vitor
Your age is: 23

In [33]:
def pagamento(qtdHoras, valorHora):
    horas = float(qtdHoras)   # Variável hora receberá a quantidade de horas trabalhadas
    taxa = float(valorHora)   # Variável receberá valor trabalhado por hora
    
    if horas <= 40:   # Se horas for menor e igual a 40
        salario = horas * taxa   # Salário será horas multiplicado pela taxa
    
    else:   # Se não
        horaExcd = horas - 40   # Horas excedidas será igual a hora menos 40
        salario = 40 * taxa + (horaExcd * (1.5 * taxa))   # E salário será igual 40 * taxa + (horaExcd * (1.5 * taxa))
        
    return salario   # Retorne o salário

In [39]:
# Criando o input para receber os valores
strHoras = input('Digite as horas trabalhadas: ')
strTaxa = input('Digite o valor da hora trabalhada: R$ ')

totalSalario = pagamento(strHoras, strTaxa)

print('O valor do seu rendimento é R$ %.2f'%totalSalario)

Digite as horas trabalhadas: 62
Digite o valor da hora trabalhada: R$ 200
O valor do seu rendimento é R$ 14600.00